services:
  admin-frontend:
    build:
      context: ./admin
      dockerfile: Dockerfile
    container_name: ecoride-admin
    ports:
      - "8080:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  client-frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - VUE_APP_FIREBASE_API_KEY=${VUE_APP_FIREBASE_API_KEY}
        - VUE_APP_FIREBASE_AUTH_DOMAIN=${VUE_APP_FIREBASE_AUTH_DOMAIN}
        - VUE_APP_FIREBASE_PROJECT_ID=${VUE_APP_FIREBASE_PROJECT_ID}
        - VUE_APP_FIREBASE_STORAGE_BUCKET=${VUE_APP_FIREBASE_STORAGE_BUCKET}
        - VUE_APP_FIREBASE_MESSAGING_SENDER_ID=${VUE_APP_FIREBASE_MESSAGING_SENDER_ID}
        - VUE_APP_FIREBASE_APP_ID=${VUE_APP_FIREBASE_APP_ID}
        - VUE_APP_FIREBASE_MEASUREMENT_ID=${VUE_APP_FIREBASE_MEASUREMENT_ID}
        - VUE_APP_API_URL=${VUE_APP_API_URL}
    container_name: ecoride-client
    ports:
      - "8081:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
